body{
    margin:0;
}
  
div{
    text-decoration:  white;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex: 1;}

    .item1{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }
    .item2{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }
    .item3{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }
    .item4{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }
    .item5{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }
    .item6{
        width: 200px;
        height: 100px;
        background-color: yellow;
        margin: 20px;
        border: 1px solid yellow;
        flex: 1;
        color: white;
        font-size: 80px;
        text-align: center;
       
    }

    